BODY {
	position: relative;
	margin: 0px;
	padding: 0px;
	color: grey;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}
LABEL {
	display: block;
}

.nav-menu, .nav-menu LI {
	margin: 0px;
	padding: 0px;
	display: inline;
	list-style: none;
}

#main {
	margin: 65px auto 0px auto;
	width: 95%;
}

.form_member INPUT {
	width: 95%;
	margin: 5px;
}

.form_member SELECT {
	width: 95%;
	margin: 5px;
}

.table .small {
	width: 1px;
}
