BODY {
	position: relative;
	margin: 0px;
	padding: 0px;
	color: grey;
}

.nav-menu, .nav-menu LI {
	margin: 0px;
	padding: 0px;
	display: inline;
	list-style: none;
}

#main {
	margin: 70px auto 0px auto;
	width: 95%;
}
